{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
{% block navbar %}
 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><input type="submit" class="btn btn-primary" value="Add Customer">  </li>
    </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid bg-3 text-center">
        {% if result %}
            <h3>Results</h3>

        <div class="container-fluid bg-4 text-left">
                <div class="row">

                {% for r in result %}

                <div class="col-sm-4">
                  <div class="thumbnail">

                    <div class="form-group">
                        <p>Name : {{r.name}} </p>
                    </div>
                    <div class="form-group">
                        <p>Address : {{r.address}} </p>
                    </div>
                    <div class="form-group">
                        <p>City : {{r.city}} </p>
                    </div>
                    <div class="form-group">
                        <p>Location: {{ r.location }}</p>
                    </div>
                    <div class="form-group">
                        <p>Distance: {{ r.distance.km|floatformat:2 }} KM</p>
                    </div>
                  </div>
                </div>
                {% empty %}

                   <p>No results found.</p>
                    {% endfor%}
                </div>
        </div>

        {% endif %}
</div>
{% endblock %}